# Workshop W04

In [1]:
# Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from matplotlib_venn import venn2, venn3, venn2_circles, venn3_circles
import scipy.stats as stats
import random
import seaborn as sns
import scipy.stats as stat

%matplotlib widget

## Exercise 1
Michael is throwing darts at a target. He is very good at the game, so the chances of him hitting the “bullseye” (i.e. the center) are **25%**. It is reasonable to assume that individual attempts are independent. If he throws **5 times** in total, what is the probability that he will hit the bullseye:<br />
a) Exactly three times <br />
b) at least 3 times

In [2]:
n = 5000 # simulations

hits_3_times = np.zeros(n) #here we store the exactly 3 times
at_least_3_times = np.zeros(n) #here we store at least 3 times


for i in range(n):
    
    throws = 5
    hits = 0
    
    for j in range(throws):
        hits_bullsye = np.random.random()
        if hits_bullsye <= 0.25: # we got a bullseye
            hits += 1
    
    if hits == 3:
        hits_3_times[i] = 1
    
    if hits >= 3:
        at_least_3_times[i] = 1
        

print('P(a) =', sum(hits_3_times)/n) 
print('P(b) =', sum(at_least_3_times)/n)

P(a) = 0.089
P(b) = 0.1028

## Exercise 2

Only two international airlines fly daily into an airport. UN Air has **70 flights** a day and IS Air has **65 flights** a day. Passengers flying with UN Air have an **18% probability** of losing their luggage and passengers flying with IS Air have a **23% probability** of losing their luggage. You overhear someone in the airport complain about her luggage being lost. Find the probability that she travelled with IS Air.

In [3]:
all_flights = 70 + 65
un_flights = 70 / all_flights
is_flights = 65 / all_flights

n = 5000 # simulations

lost = np.zeros(n) 
lost_luggage_with_IS = 0

for i in range(n):
    lost_luggage = np.random.random()
    flies_with_IS = np.random.random()
    
    #decide if person flies IS
    if flies_with_IS <= is_flights:
        #person flies IS
        if lost_luggage <= 0.23:
            #person flied IS and lost luggage
            lost[i] = 1
            lost_luggage_with_IS += 1
        
    else:
        #person flies UN
        #check if the person lost luggage
        if lost_luggage <= 0.18:
            lost[i] = 1
    
print('P(lost_luggage) =', sum(lost)/n)
print('P(lost_luggage_with_IS) =', lost_luggage_with_IS/sum(lost))

P(lost_luggage) = 0.2036
P(lost_luggage_with_IS) = 0.5127701375245579

## Exercise 3

Two friends have agreed to meet up between 13:00 and 14:00 **(1 h)** on a given day. Both arrive randomly during the given time interval. They have also agreed that whoever arrives first waits for the other for at most **15 minutes (0.25 h)**, after which he leaves if the second friend has not arrived. What is the probability that the two friends will meet?

In [4]:
n = 5000 # simulations

friends_meet = 0

for i in range(n):
    friend_1 = np.random.random()
    friend_2 = np.random.random()
    
    if abs(friend_1 - friend_2) <= 0.25:
        friends_meet += 1
    
print('P(friends_meet) =', friends_meet/n)

P(friends_meet) = 0.438

## Exercise 4

The file major_salary.csv contains data about monthly salaries and majors for some employees.<br />

In [5]:
df = pd.read_csv('major_salary.csv')
df.head()

          major  salary
0    Management    3330
1    Management    2700
2       Finance    3155
3    Accounting    3855
4  Info Systems    4220

In [6]:
df.shape

(111, 2)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   major   111 non-null    object
 1   salary  111 non-null    int64
dtypes: int64(1), object(1)
memory usage: 1.9+ KB

a) Consider all the salary data. Construct a histogram and a box plot to visualize the distribution of the salaries. Then calculate the Five-Number-Summary1 of the salaries for all employees and the skewness coefficient.

In [8]:
plt.figure()
sns.histplot(df['salary'], bins=10)
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [9]:
plt.figure()
plt.boxplot(df['salary'])
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [10]:
salary = df['salary']

min_salary = salary.min()
max_salary = salary.max()
Q1_salary = np.percentile(salary, 25)
Q3_salary = np.percentile(salary, 75)
median_salary = salary.median()

print('This is the five nmber summary for salary:')
print('min = ', min_salary)
print('Q1 = ', Q1_salary)
print('Median = ', median_salary)
print('Q3 = ', Q3_salary)
print('max = ', max_salary)

This is the five nmber summary for salary:
min =  2240
Q1 =  3165.0
Median =  3645.0
Q3 =  4025.0
max =  5650

In [11]:
skew_salary = stat.skew(salary.dropna())

print('The skewness of salary is ', skew_salary)

The skewness of salary is  0.5396853870144327

b) Using the 1.5×IQR rule, identify and list any outliers in the set of all salaries.

In [12]:
Q1 = np.percentile(salary, 25)
Q3 = np.percentile(salary, 75)
IQR = Q3 - Q1

L = Q1 - 1.5*IQR
U = Q3 + 1.5*IQR

salary = pd.DataFrame(salary)
salary['Outlier'] = ((salary['salary'] < L) | (salary['salary'] > U))
salary.loc[salary['Outlier']==True]

    salary  Outlier
83    5650     True
94    5500     True

c) Now consider the data about the salaries categorized by major. Visualize the mean salaries for each major using a bar graph.

In [13]:
mean = df.groupby('major').mean().reset_index()
mean

          major  salary
0    Accounting    4020
1       Finance    3695
2  Info Systems    4000
3    Management    3180
4     Marketing    3345

In [14]:
plt.figure()
sns.barplot(data=mean, x='major', y='salary')
plt.show()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …