In [1]:
# Exercise:
# Use the dataset called Salaries.csv and load it into DataFrame.
# Find the average value for “BasePay” column and maximum value for colum “OvertimePay”.
# Find the job title of JOSEPH DRISCOLL (use all caps)
# What is the name of the highest paid person (including benefits)?
# What was the average (mean) BasePay of all employees per year?
# How many unique job titles are there?
# How many people have the word “Chief” in their title?

#Bonus:
# What are the top 5 most common jobs?

In [5]:
import pandas as pd

sal_df = pd.read_csv("Salaries.csv")
sal_df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [7]:
# Find the average value for “BasePay” column and maximum value for colum “OvertimePay”.

sal_df["BasePay"].mean()

sal_df["OvertimePay"].max()

245131.88

In [9]:
# Find the job title of JOSEPH DRISCOLL (use all caps)

sal_df[sal_df["EmployeeName"] == "JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [15]:
# What is the name of the highest paid person (including benefits)?

m = sal_df["TotalPayBenefits"].max()

sal_df[sal_df["TotalPayBenefits"] == m]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

In [19]:
# What was the average (mean) BasePay of all employees per year?

by_year = sal_df.groupby("Year")
by_year["BasePay"].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [20]:
# How many unique job titles are there?

sal_df["JobTitle"].nunique()

2159

In [36]:
# How many people have the word “Chief” in their title?

#df[df['A'].str.contains("hello")]

sal_df[sal_df["JobTitle"].str.contains("Chief")]["Id"].count()

423

In [44]:
# What are the top 5 most common jobs?

sal_df["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64